name: Auto daily commits

on:
  schedule:
    - cron: '0 14 * * *' # 10:00 AM Bolivia
  workflow_dispatch:

permissions:
  contents: write

jobs:
  commit-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set Git config
        run: |
          git config user.name "GitHub Bot"
          git config user.email "jhamilquea@gmail.com"

      - name: Make random commits
        run: |
          # Elegir rango aleatorio: 1 (2–4), 2 (5–9), 3 (10–15)
          RANGE=$((RANDOM % 3 + 1))

          if [ "$RANGE" -eq 1 ]; then
            COMMITS=$((RANDOM % 3 + 2))   # 2–4
          elif [ "$RANGE" -eq 2 ]; then
            COMMITS=$((RANDOM % 5 + 5))   # 5–9
          else
            COMMITS=$((RANDOM % 6 + 10))  # 10–15
          fi

          echo "Hoy se harán $COMMITS commits"

          # Crear archivo si no existe
          touch activity.txt

          for i in $(seq 1 $COMMITS)
          do
            echo "Auto commit $i - $(date)" >> activity.txt
            git add activity.txt
            git commit -m "Auto commit $i"
          done

      - name: Pull latest changes & push
        run: |
          git fetch origin main
          git rebase origin/main
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
